Repository cipriane/OneLogOn, pull requests merged in 2019-03, with the labels that each got.

#95 added a good error message
  backend/server/views.py
Labels: backend

#96 Posts/Url created
  backend/server/models.py
  backend/server/serializers.py
  backend/server/urls.py
  backend/server/views.py
Labels: backend

#97 Settings page styled, reasonslist now works with backend objects
  frontend/common/Profile/Profile.css
  frontend/common/Profile/Profile.js
  frontend/common/Reasons/Reason/Reason.js
  frontend/common/Reasons/ReasonList/ReasonList.js
  frontend/common/WelcomeMessage/WelcomeMessage.css
  frontend/common/WelcomeMessage/WelcomeMessage.js
  frontend/routes/DashBoard/Kiosk/Kiosk.js
  frontend/routes/DashBoard/Kiosk/ReasonsPage/ReasonsPage.js
  frontend/routes/DashBoard/Settings/Settings.css
  frontend/routes/DashBoard/Settings/Settings.js
Labels: frontend

#98 styles and csv exports
  frontend/routes/DashBoard/Manage/Manage.css
  frontend/routes/DashBoard/Manage/Manage.js
  frontend/routes/DashBoard/Statistics/Statistics.js
  frontend/utils/downloadCSV.js
  frontend/utils/jsonToCSV.js
Labels: frontend

#99 api calls changed to reflect api models
  frontend/common/Reasons/ReasonList/ReasonList.js
  frontend/routes/DashBoard/Manage/Manage.js
Labels: frontend

#101 edit user button shows custom visitor dialog for future editing
  frontend/common/Reasons/Reason/Reason.js
  frontend/common/Reasons/ReasonList/ReasonList.js
  frontend/routes/DashBoard/Manage/Manage.css
  frontend/routes/DashBoard/Manage/Manage.js
Labels: frontend

#117 Added customizable check-in messaging
  backend/server/fixtures/company.json
  backend/server/models.py
  backend/server/urls.py
  backend/server/views.py
Labels: backend, technical story

#127 can now edit visitor details in state
  frontend/routes/DashBoard/Manage/Manage.css
  frontend/routes/DashBoard/Manage/Manage.js
Labels: frontend

#135 Added Change Password endpoint
  backend/server/urls.py
  backend/server/views.py
Labels: backend

#137 ExportModal styled
  frontend/routes/DashBoard/Statistics/ExportModal/ExportModal.css
  frontend/routes/DashBoard/Statistics/ExportModal/ExportModal.js
Labels: frontend

#140 integrated welcome message into kiosk mode
  frontend/routes/DashBoard/Kiosk/CheckInPage/CheckInPage.js
  frontend/routes/DashBoard/Kiosk/ReasonsPage/ReasonsPage.css
Labels: frontend
