Repository cipriane/OneLogOn, pull requests merged in 2019-02, with the labels that each got.

#37 Dashboard made more responsive
  .gitignore
  frontend/common/DashBoardHeader/DashBoardHeader.css
  frontend/common/DashBoardHeader/DashBoardHeader.js
  frontend/common/DashBoardHeader/DashBoardHeader.test.js
  frontend/common/DashBoardNav/DashBoardNav.css
  frontend/common/DashBoardNav/DashBoardNav.js
  frontend/common/DashBoardNav/DashBoardNav.test.js
  frontend/common/DashBoardView/DashBoardView.css
  frontend/common/DashBoardView/DashBoardView.js
  frontend/common/DashBoardView/DashBoardView.test.js
  frontend/common/Header/Header.js
  frontend/common/Root.js
  frontend/routes/DashBoard/DashBoard.css
  frontend/routes/DashBoard/DashBoard.js
  frontend/routes/Login/Login.js
  frontend/routes/ManageUsers/ManageUsers.js
  frontend/routes/Register/Register.js
  frontend/routes/Settings/Settings.js
  frontend/routes/Statistics/Statistics.js
  frontend/routes/routes.js
Labels: frontend

#64 dashboard profile pic and logout option added
  frontend/routes/DashBoard/DashBoard.css
  frontend/routes/DashBoard/DashBoard.js
Labels: frontend

#65 logout added to dashboard
  frontend/routes/DashBoard/DashBoard.js
Labels: frontend

#67 Form Validation for Home, Log in, and Register
  frontend/routes/Home/Home.js
  frontend/routes/Login/Login.css
  frontend/routes/Login/Login.js
  frontend/routes/Register/Register.css
  frontend/routes/Register/Register.js
Labels: enhancement, frontend

#70 Kiosk mode work
  backend/settings.py
  frontend/common/FancyButton/FancyButton.js
  frontend/common/FancyTextField/FancyTextField.js
  frontend/routes/Home/Home.js
  frontend/routes/Kiosk/CheckInPage/CheckInPage.js
  frontend/routes/Kiosk/ErrorPage/ErrorPage.js
  frontend/routes/Kiosk/FinishPage/FinishPage.js
  frontend/routes/Kiosk/Kiosk.js
  frontend/routes/Kiosk/ReasonsPage/ReasonsPage.js
  frontend/routes/Kiosk/WaiverPage/WaiverPage.js
  frontend/routes/Login/Login.js
  frontend/routes/Register/Register.js
Labels: frontend

#71 More Assets and fresh look
  frontend/assets/logo-color.png
  frontend/assets/logo-full-color.png
  frontend/assets/logo-full-white.png
  frontend/assets/logo-white.png
  frontend/common/DashBoardHeader/DashBoardHeader.css
  frontend/common/DashBoardHeader/DashBoardHeader.js
  frontend/common/DashBoardNav/DashBoardNav.css
  frontend/common/DashBoardNav/DashBoardNav.js
  frontend/common/DashBoardView/DashBoardView.css
  frontend/common/DashBoardView/DashBoardView.js
  frontend/common/FancyFormHeader/FancyFormHeader.js
  frontend/common/FullScreenLayout/FullScreenLayout.css
  frontend/common/Header/Header.css
  frontend/common/Header/Header.js
Labels: design story, frontend

#72 Dashboard slightly new look
  frontend/common/HamburgerButton/HamburgerButton.css
  frontend/common/HamburgerButton/HamburgerButton.js
  frontend/routes/DashBoard/DashBoard.css
  frontend/routes/DashBoard/DashBoard.js
Labels: frontend

#76 Kiosk Reasons Page
  frontend/routes/Kiosk/FinishPage/FinishPage.css
  frontend/routes/Kiosk/FinishPage/FinishPage.js
  frontend/routes/Kiosk/Kiosk.css
  frontend/routes/Kiosk/Kiosk.js
  frontend/routes/Kiosk/ReasonsPage/ReasonsPage.css
  frontend/routes/Kiosk/ReasonsPage/ReasonsPage.js
Labels: design story, frontend

#77 isChecked now searches properly in selected array
  frontend/routes/Kiosk/ReasonsPage/ReasonsPage.js
Labels: bug, frontend

#78 kiosk pages styled a little
  frontend/routes/Kiosk/FinishPage/FinishPage.css
  frontend/routes/Kiosk/FinishPage/FinishPage.js
  frontend/routes/Kiosk/Kiosk.css
  frontend/routes/Kiosk/Kiosk.js
  frontend/routes/Kiosk/WaiverPage/WaiverPage.css
  frontend/routes/Kiosk/WaiverPage/WaiverPage.js
Labels: design story, frontend

#79 dashboard now works on pages with scrolling
  frontend/routes/DashBoard/DashBoard.css
  frontend/routes/DashBoard/DashBoard.js
Labels: bug, frontend

#80 carousel added to homepage
  frontend/assets/screenshots/dashboard-reasons.png
  frontend/assets/screenshots/login-page.png
  frontend/common/CustomCarousel/CustomCarousel.js
  frontend/routes/Home/Home.css
  frontend/routes/Home/Home.js
Labels: design story, frontend

#81 Dummy stats and dashboard dir organized
  frontend/routes/DashBoard/DashBoard.js
  frontend/routes/DashBoard/Kiosk/CheckInPage/CheckInPage.css
  frontend/routes/DashBoard/Kiosk/CheckInPage/CheckInPage.js
  frontend/routes/DashBoard/Kiosk/ErrorPage/ErrorPage.js
  frontend/routes/DashBoard/Kiosk/FinishPage/FinishPage.css
  frontend/routes/DashBoard/Kiosk/FinishPage/FinishPage.js
  frontend/routes/DashBoard/Kiosk/Kiosk.css
  frontend/routes/DashBoard/Kiosk/Kiosk.js
  frontend/routes/DashBoard/Kiosk/ReasonsPage/ReasonsPage.css
  frontend/routes/DashBoard/Kiosk/ReasonsPage/ReasonsPage.js
  frontend/routes/DashBoard/Kiosk/WaiverPage/WaiverPage.css
  frontend/routes/DashBoard/Kiosk/WaiverPage/WaiverPage.js
  frontend/routes/DashBoard/Manage/Manage.js
  frontend/routes/DashBoard/Root.js
  frontend/routes/DashBoard/Settings/Settings.js
  frontend/routes/DashBoard/Statistics/Statistics.css
  frontend/routes/DashBoard/Statistics/Statistics.js
  frontend/routes/ManageUsers/ManageUsers.js
  package.json
Labels: frontend

#82 design for editing reason from dashboard added
  frontend/common/Reasons/Reason/Reason.css
  frontend/common/Reasons/Reason/Reason.js
  frontend/common/Reasons/ReasonList/ReasonList.js
  frontend/common/SimpleHeader/SimpleHeader.css
  frontend/common/SimpleHeader/SimpleHeader.js
  frontend/routes/DashBoard/Manage/Manage.js
  frontend/routes/DashBoard/Settings/Settings.css
  frontend/routes/DashBoard/Settings/Settings.js
Labels: frontend

#89 added tables, dummy data
  frontend/routes/DashBoard/Statistics/Statistics.css
  frontend/routes/DashBoard/Statistics/Statistics.js
  package.json
Labels: design story, frontend
